* {
	margin: 0;
	padding: 0;
}
html, body {
	background: #f5f5f5;
	text-align: center;
	font-family: 'Mukta Mahee', sans-serif;
	color: #225378;
	height: 100%;
	width: 100%;
	min-width: 800px;
}

#RegistrationOverlay {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.0);
	top: 0;
	left: 0;
	z-index: 999;
}
.backgroundfadeinanimation {
	-webkit-animation: backgroundfadein 0.5s forwards;
	animation: backgroundfadein 0.5s forwards;
}
@-webkit-keyframes backgroundfadein {
	0%     {background-color:rgba(0,0,0,0.0);}
	50%  {background-color:rgba(0,0,0,0.25);}
	100%  {background-color:rgba(0,0,0,0.4);}
}
@keyframes backgroundfadein {
	0%     {background-color:rgba(0,0,0,0.0);}
	50%  {background-color:rgba(0,0,0,0.25);}
	100%  {background-color:rgba(0,0,0,0.4);}
}
.backgroundfadeoutanimation {
	-webkit-animation: backgroundfadeout 0.5s forwards;
	animation: backgroundfadeout 0.5s forwards;
}
@-webkit-keyframes backgroundfadeout {
	0%     {background-color:rgba(0,0,0,0.4);}
	50%  {background-color:rgba(0,0,0,0.25);}
	100%  {background-color:rgba(0,0,0,0.0);}
}
@keyframes backgroundfadeout {
	0%     {background-color:rgba(0,0,0,0.4);}
	50%  {background-color:rgba(0,0,0,0.25);}
	100%  {background-color:rgba(0,0,0,0.0);}
}

.RegistrationFormDiv {
	display: none;
	position: fixed;
	width: 800px;
	height: 690px;
	top: 6%;
	left: 50%;
	z-index: 1000;
	-webkit-transform: translate(0, -50%);
	transform: translate(-50%, 0);
	background-color: #fff;
	border-radius: 20px;
}

#RegistrationFormHeader {
	font-size: 40px;
	color: #FF7F22;
	text-align:center;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
}

.RegistrationFormDivCloseButton {
	position: absolute;
	right: 20px;
	top: -5px;
	font-size: 40px;
	font-weight: bold;
	color: #999;
	transition: 0.5s;
	cursor: pointer;
}
.RegistrationFormDivCloseButton:hover {
	color: #333;
}

.ContactMessage {
	display: none;
	text-align: center;
	font-size: 25px;
	margin-top: 20%;
}


.RegistrationFormInputWrapper {
	height: 80%;
	width: 45%;
	float: left;
}
.RegistrationFormSportSelectionWrapper {
	height: 80%;
	width: 55%;
	float: right;
}

.RegistrationFormRequiredText {
	font-weight: bold;
	margin-left: 5px;
	font-family: 'Raleway', sans-serif;
	font-size: 13px;
}

input {
	height: 40px;
	border: 1px solid #999;
	border-radius: 10px;
	padding: 3px 12px;
	margin-top: 10px;
	outline: none;
	transition: 0.5s;
}
input[type=text] {
	width: 85%;
	float: right;
	background-color: #f5f5f5;
}
input[type=text]:focus {
	border: 1px solid #555;
}
input[type=email] {
	width: 85%;
	float: right;
	background-color: #f5f5f5;
}
input[type=email]:focus {
	border: 1px solid #555;
}
input[type=image] {
	border: none;
	background-color: #FF7F22;
	height: 100%;
	outline: none;
	margin-top: -4px;
	margin-left: -12px;
}
.RegistrationFormSportWrapper {
	height: 100px;
	width: 104px;
	margin-left: 7px;
	float: right;
	border: 1px solid #999;
	border-radius: 10px;
	outline: none;
	transition: 0.5s;
}

textarea {
	padding: 5px 5px;
	resize: none;
	border: 1px solid #999;
	border-radius: 10px;
	width: 85%;
	height: 150px;
	outline: none;
	transition: 0.5s;
}
textarea:focus {
	border: 1px solid #111;
}

#FormSaveButton {
	position: absolute;
	bottom: 20px;
	left: 3.5%;
	width: 93%;
	transition: 0.5s;
	background-color: #666;
	color: white;
	font-family: 'Raleway', sans-serif;
	font-size: 25px;
	border: none;
}
#FormSaveButton:hover {
	background-color: #444;
}

.RegistrationFormSportSelectionDiv {
	display: none;
	position: fixed;
	width: 550px;
	height: 440px;
	top: 82px;
	left: 43%;
	z-index: 1000;
	-webkit-transform: translate(0, -50%);
	transform: translate(-50%, 0);
	background-color: white;
	border: 2px solid #888;
	border-radius: 20px;
}
.RegistrationFormSportSelectionDiv:after {
	top: 100%;
	left: 10%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(202, 202, 202, 0);
	border-top-color: #888;
	border-width: 30px;
	margin-left: -40px;
}

#headerlogo {
	position: absolute;
	width: 100%;
	height: 40%;
	cursor: pointer;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 85%;
	background-image: url("Images/SmartGoalsGetterslogo.png");
}

.headersection {
	position: absolute;
	height: 350px;
	width: 220px;
	margin-left: 6%;
	z-index: 100;
}
.headertop {
	height: 200px;
	width: 220px;
	background-color: #4c4c4c;
}
.headerbottom {
	position: absolute;
	bottom: 42px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 108px 110px 0 110px;
	border-color: #4c4c4c transparent transparent transparent;
	background-color: transparent;
}

.content {
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: #f5f5f5;
	background-image: url("Images/SmartGoalsGetter_Banner_preview.jpeg");
	border-bottom: 20px solid #4c4c4c;
}

section {
	position: relative;
	width: 100%;
	height: 100%;
}

#section01 a {
	position: absolute;
	bottom: 5px;
	left: 46%;
	z-index: 2;
	display: inline-block;
	-webkit-transform: translate(0, -50%);
	transform: translate(0, -50%);
	color: #FFFFFF;
	font : normal 400 40px/1 'Saira Semi Condensed', sans-serif;
	letter-spacing: .1em;
	text-decoration: none;
	transition: opacity .3s;
}
#section01 a:hover {
	opacity: .5;
}

#section01 a span {
	position: absolute;
	top: -50px;
	left: 50%;
	width: 24px;
	height: 24px;
	margin-left: -12px;
	border-left: 3px solid #FFFFFF;
	border-bottom: 3px solid #FFFFFF;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	box-sizing: border-box;
}

.HeaderScrollSection {
	position: absolute;
	bottom: -100px;
	left: 47%;
	display: inline-block;
	-webkit-transform: translate(0, -50%);
	transform: translate(0, -50%);
	width: 280px;
	height: 160px;
	margin-left: -95px;
	background-color: #4c4c4c;
	border-top-left-radius: 1000px;
	border-top-right-radius: 1000px;
}

#section02 {
	background-color: #f5f5f5;
	height: 0px; 
}


.MainContent {
	position: absolute;
	height: auto;
	width: 100%;
	background-color: #f5f5f5;
}

.HeaderSeperator {
	height: 70px;
	width: 100%;
	top: 0;
	z-index: 10;
}

.AboutUsHeader {
	position: absolute;
	width: 100%;
	z-index: 10;
	top: 0;
}

#AboutUsTitle {
	top: 50%;
	margin-left: -25px;
	font-size: 3.5vw;
	color: #4c4c4c;
	text-align:center;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
}

.AboutUsText {
	width: 60%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: 8%;
	font-size: 1.2vw;
	text-align:center;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	padding-bottom: 50px;
	color: #555;
}

.MeetTheTeamHeader {
	position: absolute;
	width: 100%;
	height: 100px;
	z-index: 10;
}

#MeetTheTeamTitle {
	top: 50%;
	margin-left: -25px;
	font-size: 3.5vw;
	color: #4c4c4c;
	text-align:center;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
}

.ApplyForGetter {
	position: absolute;
	height: 60px;
	width: 100%;
	bottom: 180px;
}

.ApplyForGetterButton {
	background-color: #f08739;
	height: 100%;
	width: 400px;
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	margin-left: -40px;
	border:none;
	border-radius: 10px;
	color: #F3FFE2;
	font-size: 25px;
	line-height: 60px;
	font-family: 'Raleway', sans-serif;
	position:relative;
	cursor:pointer;
	transition:800ms ease all;
	outline:none;
}
.ApplyForGetterButton:hover{
	background-color: transparent;
	color: #FF7F22;
}
.ApplyForGetterButton:before,.ApplyForGetterButton:after{
	content:'';
	position:absolute;
	top:0;
	right:4%;
	height:2px;
	width:0;
	background: #FF7F22;
	transition:400ms ease all;
}
.ApplyForGetterButton:after{
	right:inherit;
	top:inherit;
	left:6%;
	bottom:0;
}
.ApplyForGetterButton:hover:before,.ApplyForGetterButton:hover:after{
	width:90%;
	transition:800ms ease all;
}

.MainPageFooterLogo {
	position: absolute;
	width: 100%;
	height: 100px;
	z-index: 10;
	bottom: 70px;
}

.MainPageFooterLinks {
	position: absolute;
	height: 70px;
	margin-top: 130px;
	bottom: 0;
	z-index: 10;
}

.TestimonialsHeader {
	position: absolute;
	width: 100%;
	z-index: 10;
}

#TestimonialsTitle {
	top: 50%;
	margin-left: -25px;
	font-size: 3.5vw;
	color: #4c4c4c;
	text-align:center;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
}

.TestimonialWrapper {
	min-width: 500px;
	width: 500px;
	height: auto;
	border-bottom: solid 1px grey!important;
}

.TestimonialTopSide {
	height: 150px;
	width: 100%;
}

.TestimonialMiddle {
	height: auto;
	width: 100%;
	text-align: left;
	margin-left: 15px;
}

.TestimonialBottomSide {
	height: auto;
	width: 100%;
	margin-left: 15px;
}

.TestimonialImage {
	height: 150px;
	width: 150px;
	border-radius: 50%;
	box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
	background-size: 150%;
	background-repeat: no-repeat;
	background-position: center;
	float: left;
}

.TestimonialName {
	float: right;
	font-family: sans-serif !important;
	font-weight: bold;
	text-align: left;
	height: 100px;
	width: 330px;
	color: #4c4c4c;
	z-index: 2;
	font-size: 250%;
	line-height: 60px;
}

.TestimonialTitle {
	height: 50%;
    width: 100%;
    float: left;
    font-size: 22px;
    color: #000;
    padding-top: 10px;
    font-family: 'Raleway', sans-serif;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-align: left;
}

.TestimonialText {
	text-align: left;
	width: 85%;
	height: auto;
	font-size: 16px;
	color: #666;
}

.ProfileWrapper {
	border-radius: 20px;
	min-width: 700px;
	width: 700px;
	height: 350px;
	overflow: hidden;
	border-radius: 20px;
	box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
}

.MainArea {
	position: relative;
	width: 700px;
	height: 350px;
	background-color: white;
	z-index: 2;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center top;
	transition: 0.8s;
}

.OverlayWrapper {
	position: relative;
	width: 650px;
	margin-left: 25px;
	z-index: 3;
}
.NameOverlay {
	height: 100%;
	width: 40%;
	background-color: transparent;
	float: left;
	text-align: left;
}
.NameText {
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	height: 40px;
	width: auto;
	font-size: 200%;
	color: #4c4c4c;
	z-index: 2;
}
.SeperatorOverlay {
	height: 100%;
	width: 10%;
	background-color: transparent;
	float: left;
	text-align: center;
}
.SeperatorText {
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	height: 40px;
	width: auto;
	font-size: 200%;
	color: #4c4c4c;
	z-index: 2;
}
.OccupationOverlay {
	height: 100%;
	width: 50%;
	background-color: transparent;
	float: right;
}
.OccupationText {
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	height: 40px;
	width: auto;
	font-size: 200%;
	color: #4c4c4c;
	z-index: 2;
}

.SlideoutOverlay {
	position: relative;
	color: #FF6F22;
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	float: right;
	width: 60px;
	height: 350px;
	background-color: rgba(255,127,34,0.8);
	z-index: 3;
	overflow: hidden;
	cursor: default;
	transition: all 0.5s;
}
.ProfileWrapper:hover .SlideoutOverlay {
	width: 700px;
}
.SlideoutOverlay:hover .SlideoutContent {
	animation: opacitychange 1s linear;
	animation-delay: 0.3s;
	animation-fill-mode: forwards;
	-webkit-animation: opacitychange 1s linear;
	-webkit-animation-delay: 0.3s;
	-webkit-animation-fill-mode: forwards;
}

@keyframes opacitychange {
	0%   	{opacity: 0;}
	50%   	{opacity: 0.5;}
	100%   	{opacity: 1;}
}
@-webkit-keyframes opacitychange {
	0%   	{opacity: 0;}
	50%   	{opacity: 0.5;}
	100%   	{opacity: 1;}
}

.SlideoutArrow {
	position: absolute;
	top: 50%;
	right: 5%;
	width: 24px;
	height: 24px;
	margin-left: -12px;
	border-left: 3px solid #fff;
	border-bottom: 3px solid #fff;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	box-sizing: border-box;
}

.SlideoutContent {
	height: 350px;
	width: 700px;
	opacity: 0;
}

.SportsHolder {
	float: left;
	height: 350px;
	width: 150px;
}

.SportsHolderSeperator {
	position: absolute;
	margin-left: 150px;
	margin-top: 25px;
	height: 300px;
	border-left: 2px solid white;
}

.InfoHolder {
	float: left;
	height: 350px;
	width: 450px;
}

.OverlaySmallText {
	position: relative;
	top: 20px;
	left: 20px;
	text-align: left;
}

.OverlaySmallText span {
	color: #fff;
	font-family: 'Biryani', sans-serif;
	font-size: 30px;
	line-height: 45px;
}

.LocationHolder {
	height: 50px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.LocationSmalltext {
	color: #fff;
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	line-height: 45px;
	text-decoration: underline;
}

.JobHolder {
	height: 50px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.JobSmalltext {
	color: #fff;
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	line-height: 45px;
	text-decoration: underline;
}

.SVGHolder {
	position: relative;
	height: 110px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	float: left;
	text-align: center;
}
.SVGHolder:after {
	color: #fff;
	font-family: 'Biryani', sans-serif;
	font-size: 20px;
}

.SVGHolderReg {
	display: none;
	height: 100px;
	float: left;
	text-align: center;
	margin-top: 5px;
	cursor: pointer;
}
.SVGHolderReg:after {
	color: #FF7F22;
	font-family: 'Biryani', sans-serif;
	font-size: 20px;
}

.svg {
	width: 100%;
	height: 70%;
	background: #fff;
	margin-top: 10px;
}

.Archery_svg { -webkit-mask: url(Images/svgicons/Archery.svg) no-repeat; -webkit-mask-size: 45%; -webkit-mask-position: center; }
.Baseball_svg { -webkit-mask: url(Images/svgicons/Baseball.svg) no-repeat; -webkit-mask-size: 45%; -webkit-mask-position: center; }
.Basketball_svg { -webkit-mask: url(Images/svgicons/Basketball.svg) no-repeat; -webkit-mask-size: 45%; -webkit-mask-position: center; }
.Biking_svg { -webkit-mask: url(Images/svgicons/Biking.svg) no-repeat; -webkit-mask-size: 45%; -webkit-mask-position: center; }
.Fitness_svg { -webkit-mask: url(Images/svgicons/Fitness.svg) no-repeat; -webkit-mask-size: 45%; -webkit-mask-position: center; }
.Football_svg { -webkit-mask: url(Images/svgicons/Football.svg) no-repeat; -webkit-mask-size: 45%; -webkit-mask-position: center; }
.Golf_svg { -webkit-mask: url(Images/svgicons/Golf.svg) no-repeat; -webkit-mask-size: 45%; -webkit-mask-position: center; }
.Hiking_svg { -webkit-mask: url(Images/svgicons/Hiking.svg) no-repeat; -webkit-mask-size: 45%; -webkit-mask-position: center; }
.Hockey_svg { -webkit-mask: url(Images/svgicons/Hockey.svg) no-repeat; -webkit-mask-size: 45%; -webkit-mask-position: center; }
.Icehockey_svg { -webkit-mask: url(Images/svgicons/Icehockey.svg) no-repeat; -webkit-mask-size: 45%; -webkit-mask-position: center; }
.Iceskating_svg { -webkit-mask: url(Images/svgicons/Iceskating.svg) no-repeat; -webkit-mask-size: 45%; -webkit-mask-position: center; }
.Skating_svg { -webkit-mask: url(Images/svgicons/Skating.svg) no-repeat; -webkit-mask-size: 45%; -webkit-mask-position: center; }
.Swimming_svg { -webkit-mask: url(Images/svgicons/Swimming.svg) no-repeat; -webkit-mask-size: 45%; -webkit-mask-position: center; }
.Tennis_svg { -webkit-mask: url(Images/svgicons/Tennis.svg) no-repeat; -webkit-mask-size: 45%; -webkit-mask-position: center; }
.Volleyball_svg { -webkit-mask: url(Images/svgicons/Volleyball.svg) no-repeat; -webkit-mask-size: 45%; -webkit-mask-position: center; }
.Empty_svg { -webkit-mask: url(Images/svgicons/Empty.svg) no-repeat; -webkit-mask-size: 45%; -webkit-mask-position: center; }

.Archery_holder:after { content: "Archery"; }
.Baseball_holder:after { content: "Baseball"; }
.Basketball_holder:after { content: "Basketball"; }
.Biking_holder:after { content: "Biking"; }
.Fitness_holder:after { content: "Fitness"; }
.Football_holder:after { content: "Football"; }
.Golf_holder:after { content: "Golf"; }
.Hiking_holder:after { content: "Hiking"; }
.Hockey_holder:after { content: "Hockey"; }
.Icehockey_holder:after { content: "Icehockey"; }
.Iceskating_holder:after { content: "Iceskating"; }
.Skating_holder:after { content: "Skating"; }
.Swimming_holder:after { content: "Swimming"; }
.Tennis_holder:after { content: "Tennis"; }
.Volleyball_holder:after { content: "Volleyball"; }
.Empty_holder:after { content: "None"; }

.ViewProfileOverlayButton {
	position: absolute;
	height: 50px;
	width: 150px;
	bottom: 25px;
	right: 100px;
	text-align: center;
	cursor: pointer;
	display: block;
	font-family: 'Raleway', sans-serif;
	font-size: 25px;
	line-height: 50px;
	color: white;
}

svg {
	height: 55px;
	width: 150px;
	border-radius: 2px;
}

.ViewProfileOverlayButton svg {
	position: absolute;
	top: 0; left: 0;
}

.ViewProfileOverlayButton svg rect {
	stroke: white;
	stroke-width: 2;
	stroke-dasharray: 422, 0;
	stroke-dashoffset: 0;
	transition: all 0.9s ease;
}

.ViewProfileOverlayButton:hover svg rect {
	stroke-width: 3;
	stroke-dasharray: 110, 298;
	stroke-dashoffset: 183;
}

.ProfilePageWrapper {
	height: auto;
	width: 100%;
	z-index: 5;
	min-width: 850px;
}

.SlideoutArrowLeft {
	display: none;
	position: absolute;
	top: 50%;
	left: 4%;
	width: 40px;
	height: 40px;
	margin-left: -12px;
	border-left: 3px solid #999;
	border-bottom: 3px solid #999;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	box-sizing: border-box;
	transition: 0.5s;
	cursor: pointer;
}
.SlideoutArrowLeft:hover {
	border-left: 3px solid #555;
	border-bottom: 3px solid #555;
}

.SlideoutArrowRight {
	display: none;
	position: absolute;
	top: 50%;
	right: 3%;
	width: 40px;
	height: 40px;
	margin-left: -12px;
	border-left: 3px solid #999;
	border-bottom: 3px solid #999;
	-webkit-transform: rotate(-135deg);
	transform: rotate(-135deg);
	box-sizing: border-box;
	transition: 0.5s;
	cursor: pointer;
}
.SlideoutArrowRight:hover {
	border-left: 3px solid #555;
	border-bottom: 3px solid #555;
}

.ProfilePageTopSection {
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
	margin-left: 10%;
	margin-top: 2%;
	height: auto;
}

.ProfilePictureArea {
	float: left;
	width: 33%;
	min-height: 270px;
}

.ProfileInfoPicture {
	height: 270px;
	width: 270px;
	border-radius: 50%;
	box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
}

.ProfileTitleArea {
	float: right;
	width: 62%;
	min-height: 270px;
	float: right;
}

.ProfileTitleSection {
	width: 100%;
	float: right;
	font-family: 'Raleway', sans-serif;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	text-align: left;
}

.ProfileTitleName {
	height: 10%;
	color: #4c4c4c;
	font-size: 60px;
	width: 100%;
	float: left;
	padding-bottom: 10px;
}

.ProfileTitleOccupation {
	height: 10%;
	color: #4c4c4c;
	font-size: 40px;
	width: 100%;
	float: left;
}

.ProfilePageLowerSection {
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
	margin-left: 10%;
	margin-top: 2%;
	height: auto;
}

.ProfileInfoTab {
	background-color: #f5f5f5;
	width: 45%;
	height: 100%;
	border-radius: 20px;
	box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2), 0 2px 20px 0 rgba(0, 0, 0, 0.19);
}

.ProfileBioTab {
	background-color: #f5f5f5;
	width: 45%;
	height: 100%;
	margin-left: 10%;
	border-radius: 20px;
	box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2), 0 2px 20px 0 rgba(0, 0, 0, 0.19);
}

.ProfileBioTitle {
	height: 8%;
	width: 100%;
	float: left;
	font-size: 22px;
	color: #000;
	padding-top: 10px;
	padding-left: 9.5%;
	font-family: 'Raleway', sans-serif;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	text-align: left;
}

.ProfileBioSubtext {
	text-align: left;
	width: 85%;
	height: auto;
	font-size: 16px;
	margin-left: 10%;
	color: #666;
}

.ProfileBioPicVideoSection {
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	height: 260px;
	width: 80%;
}

.ProfileBioPicVideoSection video { 
	width: 100%;
	height: 100%;
	background-size: cover;
}
.ProfileBioPicVideoSection img { 
	width: 100%;
	height: 100%;
	background-size: cover;
}

@media only screen and (min-width: 1450px) {
	.ProfileInfoTab {
		float: left;
	}
	.ProfileBioTab {
		float: right;
	}
	.ProfileInfoPicture {
		float: right;
	}
}

@media only screen and (max-width: 1450px) {
	.ProfilePageTopSection {
		display: inline-block;
		margin-left: auto;
		margin-right: auto;
		width: 70%;
		margin-top: 2%;
		height: auto;
	}
	.ProfilePictureArea {
		width: 100%;
		min-height: 270px;
	}
	.ProfileInfoPicture {
		display: inline-block;
		margin-left: auto;
		margin-right: auto;
	}
	.ProfileTitleArea {
		width: 100%;
		min-height: 200px;
		float: right;
	}
	.ProfileTitleSection {
		text-align: center;
	}
	.ProfileInfoTab {
		width: 80%;
		display: inline-block;
		margin-left: auto;
		margin-right: auto;
	}
	.ProfileBioTab {
		margin-top: 5%;
		width: 80%;
		display: inline-block;
		margin-left: auto;
		margin-right: auto;
	}
	.ProfilePageLowerSection {
		margin-left: 0;
	}
}
@media only screen and (max-width: 900px) {
	.ProfileInfoTab {
		min-width: 500px;
		display: inline-block;
		margin-left: auto;
		margin-right: auto;

	}
	.ProfileBioTab {
		margin-top: 5%;
		min-width: 500px;
		display: inline-block;
		margin-left: auto;
		margin-right: auto;
	}
}

.ProfileInfoSocialMediaTab {
	width: 90%;
	height: 70px;
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
}

.ProfileSocalMediaHolder {
	width: auto;
	height: 100%;
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
}

.ProfileSocialMediaSVG {
	float: left;
	width: 70px;
	height: 100%;
	cursor: pointer;
	margin-left: 10px;
	margin-right: 10px;
}

#profilefacebooksvg {
	background: #3b5998;
	-webkit-mask: url("Images/facebook.svg") no-repeat;
	-webkit-mask-size: 65%;
	-webkit-mask-position: center;
}
#profilefacebooksvg:hover {
	background: #FF9127;
}
#profiletwittersvg {
	background: #00aced;
	-webkit-mask: url("Images/twitter.svg") no-repeat;
	-webkit-mask-size: 65%;
	-webkit-mask-position: center;
}
#profiletwittersvg:hover {
	background: #FF9127;
}
#profileinstagramsvg {
	background: #c32aa3;
	-webkit-mask: url("Images/instagram.svg") no-repeat;
	-webkit-mask-size: 65%;
	-webkit-mask-position: center;
}
#profileinstagramsvg:hover {
	background: #FF9127;
}
#profilelinkedinsvg {
	background: #4875B4;
	-webkit-mask: url("Images/linkedin.svg") no-repeat;
	-webkit-mask-size: 65%;
	-webkit-mask-position: center;
}
#profilelinkedinsvg:hover {
	background: #FF9127;
}
#profileemailsvg {
	background: #dd4b39;
	-webkit-mask: url("Images/email.svg") no-repeat;
	-webkit-mask-size: 65%;
	-webkit-mask-position: center;
}
#profileemailsvg:hover {
	background: #FF9127;
}
#profilewebsitesvg {
	background: #20b2aa;
	-webkit-mask: url("Images/website.svg") no-repeat;
	-webkit-mask-size: 65%;
	-webkit-mask-position: center;
}
#profilewebsitesvg:hover {
	background: #FF9127;
}

.ProfileInfoSection {
	width: 100%;
	float: right;
	font-family: 'Raleway', sans-serif;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	text-align: left;
}
.ProfileInfoSection span {
	padding-left: 10%;
}

.ProfileInfoSubinfo {
	height: 10%;
	margin-bottom: 10px;
}

.ProfileInfoTitle {
	height: 50%;
	font-size: 20px;
	color: #000;
}
.ProfileInfoSubtext {
	height: 50%;
	font-size: 18px;
	margin-left: 10%;
	color: #555;
	height: 80%;
	white-space: normal;
}

.ProfileInfoClub {
	height: 15%;
}

.ProfileInfoClubLogo {
	float: right;
	height: 80px;
	width: 80px;
	margin-top: -85px;
	margin-right: 10%;
}
#ProfileInfoAssociatedClubLogo {
	background-position: center;
	background-repeat: no-repeat;
	background-size: 80%;
}
#ProfileInfoFavoriteClubLogo {
	background-position: center;
	background-repeat: no-repeat;
	background-size: 80%;
}

.ProfileInfoSportsTitle {
	width: 100%;
	font-family: 'Raleway', sans-serif;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	text-align: left;
	font-size: 20px;
	color: #000;
	padding-left: 10%;
}

.ProfileSportsWrapper {
	width: 100%;
	float: right;
}

.ProfileSVGHolder {
	height: 85px;
	width: 33%;
	float: left;
	text-align: center;
	margin-bottom: 20px;
}
.ProfileSVGHolder:after {
	color: #FF9127;
	font-family: 'Biryani', sans-serif;
	font-size: 18px;
}

.Profilesvg {
	width: 70%;
	height: 75%;
	background: #FF9127;
	margin-top: 10px;
	margin-left: 15%;
}

.ProfileArchery_svg { -webkit-mask: url(Images/svgicons/Archery.svg) no-repeat; -webkit-mask-size: 40%; -webkit-mask-position: center; }
.ProfileBaseball_svg { -webkit-mask: url(Images/svgicons/Baseball.svg) no-repeat; -webkit-mask-size: 40%; -webkit-mask-position: center; }
.ProfileBasketball_svg { -webkit-mask: url(Images/svgicons/Basketball.svg) no-repeat; -webkit-mask-size: 40%; -webkit-mask-position: center; }
.ProfileBiking_svg { -webkit-mask: url(Images/svgicons/Biking.svg) no-repeat; -webkit-mask-size: 40%; -webkit-mask-position: center; }
.ProfileFitness_svg { -webkit-mask: url(Images/svgicons/Fitness.svg) no-repeat; -webkit-mask-size: 40%; -webkit-mask-position: center; }
.ProfileFootball_svg { -webkit-mask: url(Images/svgicons/Football.svg) no-repeat; -webkit-mask-size: 40%; -webkit-mask-position: center; }
.ProfileGolf_svg { -webkit-mask: url(Images/svgicons/Golf.svg) no-repeat; -webkit-mask-size: 40%; -webkit-mask-position: center; }
.ProfileHiking_svg { -webkit-mask: url(Images/svgicons/Hiking.svg) no-repeat; -webkit-mask-size: 40%; -webkit-mask-position: center; }
.ProfileHockey_svg { -webkit-mask: url(Images/svgicons/Hockey.svg) no-repeat; -webkit-mask-size: 40%; -webkit-mask-position: center; }
.ProfileIcehockey_svg { -webkit-mask: url(Images/svgicons/Icehockey.svg) no-repeat; -webkit-mask-size: 40%; -webkit-mask-position: center; }
.ProfileIceskating_svg { -webkit-mask: url(Images/svgicons/Iceskating.svg) no-repeat; -webkit-mask-size: 40%; -webkit-mask-position: center; }
.ProfileSkating_svg { -webkit-mask: url(Images/svgicons/Skating.svg) no-repeat; -webkit-mask-size: 40%; -webkit-mask-position: center; }
.ProfileSwimming_svg { -webkit-mask: url(Images/svgicons/Swimming.svg) no-repeat; -webkit-mask-size: 40%; -webkit-mask-position: center; }
.ProfileTennis_svg { -webkit-mask: url(Images/svgicons/Tennis.svg) no-repeat; -webkit-mask-size: 40%; -webkit-mask-position: center; }
.ProfileVolleyball_svg { -webkit-mask: url(Images/svgicons/Volleyball.svg) no-repeat; -webkit-mask-size: 40%; -webkit-mask-position: center; }

.ProfileArchery_holder:after { content: "Archery"; }
.ProfileBaseball_holder:after { content: "Baseball"; }
.ProfileBasketball_holder:after { content: "Basketball"; }
.ProfileBiking_holder:after { content: "Biking"; }
.ProfileFitness_holder:after { content: "Fitness"; }
.ProfileFootball_holder:after { content: "Football"; }
.ProfileGolf_holder:after { content: "Golf"; }
.ProfileHiking_holder:after { content: "Hiking"; }
.ProfileHockey_holder:after { content: "Hockey"; }
.ProfileIcehockey_holder:after { content: "Icehockey"; }
.ProfileIceskating_holder:after { content: "Iceskating"; }
.ProfileSkating_holder:after { content: "Skating"; }
.ProfileSwimming_holder:after { content: "Swimming"; }
.ProfileTennis_holder:after { content: "Tennis"; }
.ProfileVolleyball_holder:after { content: "Volleyball"; }

#ProfileHR1 {
	position: relative;
	border: 1px solid lightgrey;
	margin-left: 5%;
	margin-right: 5%;
}

#ProfileHR3 {
	position: relative;
	border: 1px solid lightgrey;
	margin-left: 5%;
	margin-right: 5%;
}

.ProfilePageFooterLogo {
	width: 100%;
	height: 100px;
	z-index: 10;
}

.ProfilePageFooterLinks {
	height: 70px;
	z-index: 10;
}

hr {
	position: absolute;
	border: 1px solid #4c4c4c;
}
#hr1 {
	float: left;
	left: 7.5%;
	bottom: 50%;
}
#hr2 {
	float: right;
	right: 9.5%;
	bottom: 50%;
}
#hr3 {
	float: left;
	left: 7.5%;
	bottom: 30%;
}
#hr4 {
	float: right;
	right: 9.5%;
	bottom: 30%;
}
#hr5 {
	float: left;
	left: 7.5%;
	bottom: 0;
}
#hr6 {
	float: right;
	right: 9.5%;
	bottom: 0;
}
#hr7 {
	position: relative;
	float: left;
	left: 7.5%;
	margin-top: 5%;
}
#hr8 {
	position: relative;
	float: right;
	right: 9.5%;
	margin-top: 5%;
}
#hr9 {
	position: relative;
	float: right;
	right: 9.5%;
	margin-bottom: 2%;
	border-color: #FF7F22;
}

#FooterInfo {
	width: 50%;
	height: 100%;
	float: left;
	text-align: center;
}

#InfoText {
	width: 55%;
	height: 100%;
	color: grey;
	text-align: center;
	line-height: 6vh;
	float: left;
	font-size: 14px;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	overflow: hidden;
}

#WebsiteLink {
	width: 45%;
	height: 100%;
	color: grey;
	cursor: pointer;
	text-align: left;
	line-height: 6vh;
	float: right;
	font-size: 14px;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	overflow: hidden;
}
#WebsiteLink:hover {
	color: #303030;
}

#SocialMediaLinks {
	width: 50%;
	height: 100%;
	float: right;
	text-align: center;
}

.SocialMediaSVG {
	float: left;
	width: 8%;
	height: 85%;
	background: lightgrey;
	cursor: pointer;
	margin-left: 10px;
}
#facebooksvg {
	margin-left: 34%;
	-webkit-mask: url("Images/facebook.svg") no-repeat;
	-webkit-mask-size: 40%;
	-webkit-mask-position: center;
}
#facebooksvg:hover {
	background: #FF9127;
}
#twittersvg {
	-webkit-mask: url("Images/twitter.svg") no-repeat;
	-webkit-mask-size: 40%;
	-webkit-mask-position: center;
}
#twittersvg:hover {
	background: #FF9127;
}
#instagramsvg {
	-webkit-mask: url("Images/instagram.svg") no-repeat;
	-webkit-mask-size: 40%;
	-webkit-mask-position: center;
}
#instagramsvg:hover {
	background: #FF9127;
}
#emailsvg {
	-webkit-mask: url("Images/email.svg") no-repeat;
	-webkit-mask-size: 40%;
	-webkit-mask-position: center;
}
#emailsvg:hover {
	background: #FF9127;
}


*::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: lightgrey;
	border-radius: 20px;
}

*::-webkit-scrollbar
{
	width: 12px;
	background-color: lightgrey;
	border-radius: 20px;
}

*::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: slategrey;
}

.loader {
	font-size: 5px;
	margin: 100px auto;
	text-indent: -9999em;
	width: 20em;
	height: 20em;
	border-radius: 50%;
	background: #f08739;
	background: -moz-linear-gradient(left, #f08739 10%, rgba(255, 255, 255, 0) 42%);
	background: -webkit-linear-gradient(left, #f08739 10%, rgba(255, 255, 255, 0) 42%);
	background: -o-linear-gradient(left, #f08739 10%, rgba(255, 255, 255, 0) 42%);
	background: -ms-linear-gradient(left, #f08739 10%, rgba(255, 255, 255, 0) 42%);
	background: linear-gradient(to right, #f08739 10%, rgba(255, 255, 255, 0) 42%);
	position: relative;
	-webkit-animation: load3 1.4s infinite linear;
	animation: load3 1.4s infinite linear;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
}
.loader:before {
	width: 50%;
	height: 50%;
	background: #f08739;
	border-radius: 100% 0 0 0;
	position: absolute;
	top: 0;
	left: 0;
	content: '';
}
.loader:after {
	background: #f5f5f5;
	width: 75%;
	height: 75%;
	border-radius: 50%;
	content: '';
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.loader2 {
	display: none;
	font-size: 5px;
	margin: 100px auto;
	text-indent: -9999em;
	width: 20em;
	height: 20em;
	border-radius: 50%;
	background: #f08739;
	background: -moz-linear-gradient(left, #f08739 10%, rgba(255, 255, 255, 0) 42%);
	background: -webkit-linear-gradient(left, #f08739 10%, rgba(255, 255, 255, 0) 42%);
	background: -o-linear-gradient(left, #f08739 10%, rgba(255, 255, 255, 0) 42%);
	background: -ms-linear-gradient(left, #f08739 10%, rgba(255, 255, 255, 0) 42%);
	background: linear-gradient(to right, #f08739 10%, rgba(255, 255, 255, 0) 42%);
	position: relative;
	-webkit-animation: load3 1.4s infinite linear;
	animation: load3 1.4s infinite linear;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
}
.loader2:before {
	width: 50%;
	height: 50%;
	background: #f08739;
	border-radius: 100% 0 0 0;
	position: absolute;
	top: 0;
	left: 0;
	content: '';
}
.loader2:after {
	background: #f5f5f5;
	width: 75%;
	height: 75%;
	border-radius: 50%;
	content: '';
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

@-webkit-keyframes load3 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@keyframes load3 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}