html {
  -webkit-font-smoothing: antialiased; 
}

body {
  text-align: center;
  min-height: 100%;
  font-size: 14px;
  line-height: 2;
  color: #777;
  font-weight: 300;
  word-wrap: break-word;
}
a {
  -webkit-transition: color 0.2s linear;
  -moz-transition: color 0.2s linear;
  -ms-transition: color 0.2s linear;
  -o-transition: color 0.2s linear;
  transition: color 0.2s linear;
  text-decoration: none;
  color: white;
}

body {
  color: #06101a;
}

.LeftFullDiv {
  float: left;
  width: 50%;
  display: block;
}

.RightFullDiv {
  display: block;
  float: left;
  width: 50%;
}
@media only screen and (max-width: 1600px) {
  .LeftFullDiv {
    width: 100%;
  }
  .RightFullDiv {
    width: 100%;
  }
}

.LeftDiv {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
  margin-right: 2%;
  border-bottom: 1px solid lightgrey;
}

.RightDiv {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
  margin-right: 2%;
  border-bottom: 1px solid lightgrey;
}

.FullDiv {
  float:left; 
  width: 100%;
}

.TestimonialsLeftFullDiv {
  min-height: 600px;
  height: auto;
  position: relative;
  top: 200px;
}

.TestimonialsRightFullDiv {
  min-height: 600px;
  height: auto;
  position: relative;
  top: 300px;
  margin-bottom: 100px;
}

.LeftDivTestimonials {
  position: absolute;
  top: 0;
  left: 15%;
  height: 100%;
  border-bottom: 1px solid lightgrey;
}

.RightDivTestimonials {
  position: absolute;
  top: 0;
  right: 15%;
  height: 100%;
  border-bottom: 1px solid lightgrey;
}
@media only screen and (max-width: 1450px) {
  .LeftDivTestimonials {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    top: 0;
    left: 0;
  }
  .RightDivTestimonials {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    top: 50px;
    right: 0;
  }
}

.customDiv1{
  border-collapse: collapse;
  margin-bottom:20px;
  padding:10px 10px 1px 10px;
  border: 1px solid #CCCCCC;
}

.customDiv2{
  border-collapse: collapse;
  margin-bottom:20px;
  padding:10px 10px 1px 10px;
  border: none;
}

.QuarterLeftDiv {
  float:left; 
  width: 48%;
  padding-right:4%;
}

.QuarterRightDiv {
  float:left; 
  width: 48%;
}						

label {
  font-size: 14px;
}

input[type="number"] {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #ccc #e7e7e7 #e7e7e7;
  border-image: none;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  color: #3b7186;
  font-size: 16px;
  height: 34px;
  line-height: 35px;
  max-width: 100% !important;
  padding: 0 5px 0 10px;
}

input[type="range"] {
  -webkit-appearance: none;
  background-color: #acc1cf;
  height:6px;
  width: 180px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: #3b99fc;
  opacity: 1;
  width: 10px;
  height: 20px;
}

.customTable {
  border-collapse: collapse;
  padding:10px 10px 1px 10px;
  overflow:auto;
}

.customTable table {
  margin-bottom:0px;
}

.customTable table tbody tr th {
  border-bottom: 1px solid #F2E394;
  text-align: left;
  font-weight: normal;
  font-size: 20px;
  padding:3px 5px 3px 5px;
  background-color:transparent;
  color:#F2E394;
}

.customTable table thead tr th {
  border-bottom: 1px solid #F2E394;
  text-align: left;
  font-weight: normal;
  font-size: 30px;
  padding:3px 5px 3px 5px;
  background-color:transparent;
  color:#F2E394;
}

.customTable table tbody tr td {
  font-size:14px;
  padding-top:2px;
  padding-bottom:2px;

}

.customTable tbody tr:last-child td{
  border-bottom: none;
}

.customTable tr td {
  text-overflow:ellipsis;
  white-space:nowrap;
  overflow:hidden;
  padding-left:5px;
  padding-right:5px;
}

.customTable tr:last-child th{
  border-bottom: none;
}

.customTable tr:first-child th{
  border-bottom: 1px solid #F2E394;
}