body {
	background-color: #fff;
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	font-weight: 400;
}

.editbutton {
	width: 120px;
	border-radius: 5px;
	background-color: #518DF5;
	text-align: center;
	color: white;
	font-size: 16px;
	border: none;
	margin: 10px;
	cursor: pointer;
}
.editbutton:hover {
	background-color: #3E6BB5;
}

.deletebutton {
	width: 120px;
	border-radius: 5px;
	background-color: #E54C4C;
	text-align: center;
	color: white;
	font-size: 16px;
	border: none;
	margin: 10px;
	cursor: pointer;
}
.deletebutton:hover {
	background-color: #D93732;
}

#Overlay {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.0);
	top: 0;
	left: 0;
	z-index: 999;
}
.backgroundfadeinanimation {
	-webkit-animation: backgroundfadein 0.5s forwards;
	animation: backgroundfadein 0.5s forwards;
}
@-webkit-keyframes backgroundfadein {
	0%     {background-color:rgba(0,0,0,0.0);}
	50%  {background-color:rgba(0,0,0,0.25);}
	100%  {background-color:rgba(0,0,0,0.4);}
}
@keyframes backgroundfadein {
	0%     {background-color:rgba(0,0,0,0.0);}
	50%  {background-color:rgba(0,0,0,0.25);}
	100%  {background-color:rgba(0,0,0,0.4);}
}
.backgroundfadeoutanimation {
	-webkit-animation: backgroundfadeout 0.5s forwards;
	animation: backgroundfadeout 0.5s forwards;
}
@-webkit-keyframes backgroundfadeout {
	0%     {background-color:rgba(0,0,0,0.4);}
	50%  {background-color:rgba(0,0,0,0.25);}
	100%  {background-color:rgba(0,0,0,0.0);}
}
@keyframes backgroundfadeout {
	0%     {background-color:rgba(0,0,0,0.4);}
	50%  {background-color:rgba(0,0,0,0.25);}
	100%  {background-color:rgba(0,0,0,0.0);}
}
.AcceptDeleteDiv {
	display: none;
	position: fixed;
	width: 800px;
	height: 260px;
	top: 20%;
	left: 50%;
	z-index: 1000;
	-webkit-transform: translate(0, -50%);
	transform: translate(-50%, 0);
	background-color: #fff;
	border-radius: 20px;
}

#AcceptDeleteHeader {
   color: #1b1e24;
   font-size: 30px;
   font-weight: 400;
   font-style:normal;
   text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
   text-transform:uppercase;
   margin: 0;
}

.AcceptDeleteCloseButton {
	position: absolute;
	right: 20px;
	top: -5px;
	font-size: 40px;
	font-weight: bold;
	color: #999;
	transition: 0.5s;
	cursor: pointer;
}
.AcceptDeleteCloseButton:hover {
	color: #333;
}

.DeleteConfirmButton {
    width: 80%;
    height: 50px;
    border-radius: 15px;
    background-color: #E54C4C;
    text-align: center;
    color: white;
    font-size: 25px;
    border: none;
    margin: 10px;
    cursor: pointer;
    margin-left: 10%;
    transition-duration: 0.5s;
}
.DeleteConfirmButton:hover {
	background-color: #D93732;
}

.table-title h3 {
   color: #1b1e24;
   font-size: 50px;
   font-weight: 400;
   font-style:normal;
   text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
   text-transform:uppercase;
   margin: 0;
}

.button-wrapper {
	position: absolute;
	width: 260px;
	height: 810px;
	left: 10px;
	top: 100px;
}

.InfoButton {
	width: 100%;
	height: 50px;
	line-height: 50px;
	position: absolute;
	top: 0;
	border-radius: 5px;
	background-color: #518DF5;
	text-align: center;
	color: white;
	font-size: 22px;
	border: none;
	cursor: pointer;
}
.InfoButton:hover {
	background-color: #3E6BB5;
}
.AddGoalGetter {
	width: 100%;
	height: 50px;
	line-height: 50px;
	position: absolute;
	top: 75px;
	border-radius: 5px;
	background-color: #518DF5;
	text-align: center;
	color: white;
	font-size: 22px;
	border: none;
	cursor: pointer;
}
.AddGoalGetter:hover {
	background-color: #3E6BB5;
}

.table-wrapper {
	display: none;
	position: relative;
	margin-left: 300px;
	margin-right: auto;
	width: 80%;
}

.table-fill {
	background: white;
	border-collapse: collapse;
	height: 100%;
	width: 100%;
	max-height: 800px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
	animation: float 5s infinite;
	overflow: scroll;
	position: relative;
	display: inline-block;
	table-layout: fixed;
}

th {
	color:#D5DDE5;;
	background:#1b1e24;
	border-bottom:4px solid #9ea7af;
	border-right: 1px solid #343a45;
	font-size:16px;
	font-weight: 100;
	padding:20px;
	text-align:left;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	vertical-align:middle;
}

tbody tr td:first-child {
	border-right: 2px solid slategrey;
}

th:first-child {
	border-top-left-radius:3px;
	border-right: 2px solid grey;
}

th:last-child {
	border-top-right-radius:3px;
	border-right:none;
}

tr {
	border-top: 1px solid #C1C3D1;
	border-bottom-: 1px solid #C1C3D1;
	color:#666B85;
	font-size:16px;
	font-weight:normal;
	text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}

tr:hover td {
	background:#4E5066;
	color:#FFFFFF;
	border-top: 1px solid #22262e;
}

tr:first-child {
	border-top:none;
}

tr:last-child {
	border-bottom:none;
}

tr:nth-child(odd) td {
	background:#EBEBEB;
}

tr:nth-child(odd):hover td {
	background:#4E5066;
}

tr:last-child td:first-child {
	border-bottom-left-radius:3px;
}

tr:last-child td:last-child {
	border-bottom-right-radius:3px;
}

td {
	background:#FFFFFF;
	text-align:left;
	vertical-align:middle;
	font-weight:300;
	font-size:16px;
	text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
	border-right: 1px solid #C1C3D1;
	height: 100px;
	width: 100px;
	word-wrap: break-word;
	padding-left: 5px;
}

p {
	width: 150px;
	overflow: hidden;
	margin: 0;
	-webkit-line-clamp: 5;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}

td:last-child {
	border-right: 0px;
}

th.text-left {
	text-align: left;
}

th.text-center {
	text-align: center;
}

th.text-right {
	text-align: right;
}

td.text-left {
	text-align: left;
}

td.text-center {
	text-align: center;
}

td.text-right {
	text-align: right;
}


.loader {
	font-size: 5px;
	margin: 350px auto;
	text-indent: -9999em;
	width: 20em;
	height: 20em;
	border-radius: 50%;
	background: #f08739;
	background: -moz-linear-gradient(left, #f08739 10%, rgba(255, 255, 255, 0) 42%);
	background: -webkit-linear-gradient(left, #f08739 10%, rgba(255, 255, 255, 0) 42%);
	background: -o-linear-gradient(left, #f08739 10%, rgba(255, 255, 255, 0) 42%);
	background: -ms-linear-gradient(left, #f08739 10%, rgba(255, 255, 255, 0) 42%);
	background: linear-gradient(to right, #f08739 10%, rgba(255, 255, 255, 0) 42%);
	position: relative;
	-webkit-animation: load3 1.4s infinite linear;
	animation: load3 1.4s infinite linear;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
}
.loader:before {
	width: 50%;
	height: 50%;
	background: #f08739;
	border-radius: 100% 0 0 0;
	position: absolute;
	top: 0;
	left: 0;
	content: '';
}
.loader:after {
	background: #fff;
	width: 75%;
	height: 75%;
	border-radius: 50%;
	content: '';
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

@-webkit-keyframes load3 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@keyframes load3 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

*::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: lightgrey;
	border-radius: 20px;
}

*::-webkit-scrollbar
{
	width: 12px;
	background-color: lightgrey;
	border-radius: 20px;
}

*::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: slategrey;
}